<% include ../partials/header %>

<div class="container">
    <div class="header-content">
        <image src="professional pics/meilike.png" id="bg-image"></image>
    </div>
</div>



<% include ../partials/footer %>