<% include ../partials/header %>

<div class="bg-image"></div>
    <div class="bg-text">
            <h1>Hi, I'm a <h1 class="typewriter"> Devleoper</h1></h1>
            <div class="font-size: 7px">
                
            <p><i class="fab fa-free-code-camp" style="font-size: 27px"></i>
               <i class="fab fa-github"         style="font-size: 27px"></i> 
               <i class="fab fa-node-js"        style="font-size: 27px"></i>
               <i class="fab fa-js"             style="font-size: 27px"></i>
               <i class="fab fa-html5"          style="font-size: 27px"></i>
               <i class="fab fa-css3-alt"       style="font-size: 27px"></i>
            <p>
            </div>
        </div>
    </div>



<% include ../partials/footer %>